@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-gray: hsl(210, 10%, 33%);
  --gray-blue: hsl(201, 11%, 66%);
  --white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Start global rules */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*small screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*medium screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End global rules */
/* Start home */
header {
  width: 100%;
  height: 100vh;
  background-image: url("./images/bg-header-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
header .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
header .container img {
  width: 100px;
}
header .container h1 {
  font-size: 45px;
  color: var(--dark-gray);
}
header .container p {
  color: var(--gray-blue);
}
header .container .actions {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .actions .btn {
  width: 48%;
  border: none;
  padding: 20px;
  border-radius: 25px;
  color: var(--white);
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
}
header .container .actions .btn:hover {
  transform: scale(1.1);
}
header .container .actions .btn-ios {
  background-color: var(--cyan);
  box-shadow: 5px 5px 5px var(--cyan);
}
header .container .actions .btn-mac {
  background-color: var(--light-blue);
  box-shadow: 5px 5px 5px var(--light-blue);
}
.heading {
  text-align: center;
}
.heading h2 {
  color: var(--dark-gray);
  font-size: 30px;
  margin-bottom: 15px;
}
.heading p {
  color: var(--gray-blue);
}
/* End home */
/* Start snippets */
.snippets {
  padding: 50px 0;
}
.snippets .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.snippets .row .image {
  width: 50%;
  height: 500px;
}
.snippets .row .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  left: -15px;
}
.snippets .row .text {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.snippets .row .text li {
  padding-right: 15px;
  margin-bottom: 20px;
}
.snippets .row .text li h3 {
  color: var(--dark-gray);
  margin-bottom: 10px;
}
.snippets .row .text li p {
  color: var(--gray-blue);
}
/* End snippets */
